/**********************************
Généralités
***********************************/

html{
    font-size: 62.5%;/*Ramène  à 10px la police par défaut*/
}

.container {
    
    max-width: 980px; /*largeur max de la page*/
    margin: auto; /* centrer horizonalement ma page*/
}

body {
    font-family: sans-serif;
    color: #444;
    font-size: 1.8rem;
    line-height: 1.5;
}

h1,
h2,
h3, 
.nav-menu, 
.cite-block {
    
    font-family: Courgette;
}

/**************************************
        Entête (header)
**************************************/

.header {
    
    text-align: center;
}

h1 {
    
    text-transform: uppercase;
    color: #003884;
    font-size: 4rem;
}

.nav-menu {
    
    color: #003884;
    font-weight: 600;
    text-align: left;
}

.nav-menu a {
    
    font-size: 2rem;
    text-decoration: none;
}

/*************************************
            contenu principal (main)
**************************************/

h2 {
    font-size: 3.5rem;
    color: #4f89b9;
    text-align: center;
     font-weight: 600;
}

h3 {
    color: #003884;
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
}

.cite-block {
    text-align: center;
    background-color: #d7e1ef;
    
    
}


.citation-b {
    font-size: 2.5rem;
}

.symboles, .liberty, .geographie, .demo {
    color: #444;
    
    line-height: 1.5;
}

.clear {
    clear: both;
}


strong, em {
    color: #003884;
}

.img-flag, .pont {
    float: right;
    margin-left: 10px;
}
.img-statue, .img-taxi {
    float: left;
    margin-right: 10px;
}

/************************
        Footer
*************************/
.footer {
    text-align: center;
    font-family: sans-serif;
}

.copyright> a{
	color: black;
	text-decoration: underline;
}

.fa-brands {
      color: #003884;
      font-size: 3rem;
}

.reseau-sociaux {
    
    border-top: 2px solid #003884;
    padding-top: 20px;
}
